
body{
        margin: 0;
        padding: 0;           
    }
/*表头*/
    header{
        width: 100%;
        height: 75px;
        background: #292929;
    }
    .header_ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .logo{
        background: url("../img/logo.jpg") no-repeat center;
        background-size: 160px 50px;
        width: 160px;
        height: 55px;

    }
    .main_ul{
        width: 720px;
        height: 100%;

    }
    .header_li{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .header_li li a{
        font-size: 13px;
        text-decoration: none;
        color:#848484;
    }

/*第一部分背景图*/
    .yibufen{
        width: 100%;
        height: 800px;
        
        padding-top: 2px;
        position: relative;
    }
    .yibufenul{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .li1{
        width: 100%;
        height: 100%;
        background: url("../img/geshou1.jpg") no-repeat center;
        background-size: 100% 800px;
        position: absolute;
        left:0;
        top:-2px;
        /*z-index: 5;*/
    }
    .li2{
        width: 100%;
        height: 100%;
        background: url("../img/geshou2.jpg") no-repeat center;
        background-size: 100% 800px;
        position: absolute;
        left:0;
        top:-2px;
        /*z-index: 5;*/
    }
    /*.yibufen:hover{
        background: url("../img/geshou1.jpg") no-repeat center;
        background-size: 100% 800px;
    }*/
    .xiaoyu{
        width: 10px;
        height: 70px;
        padding-left: 40px;
        font-size: 40px;
        color: #606060;
        position:absolute;
        z-index: 10;
    }
    .dayu{
        width: 10px;
        height: 70px;
        position:absolute;
        padding-left: 1700px;
        font-size: 40px;
        color: #606060;
    }
    .yibufen main{
        width: 100%;
        height: 80px;
        line-height: 800px;
        position:absolute;
        z-index: 10;
    }
    .yibufen main a{
        text-decoration: none;
    }
    .wenzi{
        font-size: 30px;
        color: #d3d3c8;
        text-align: center;
        line-height: 670px;
        animation: wenzi 4s ease-in-out 0s infinite normal;
        -webkit-animation: wenzi 4s infinite;
        z-index: 15;
        position:absolute;
        left:35%;
        top:5%;
    }
    @-webkit-keyframes wenzi{
        0%{
            opacity: 1;
        }
        50%{
            opacity: 0.5;
        }
        100%{
            opacity: 1;
        }
    }
    @keyframes wenzi{
        0%{
            opacity: 1;
        }
        50%{
            opacity: 0.5;
        }
        100%{
            opacity: 1;
        }
    }
    
/*Mp3播放*/
    .music{
        width: 100%;
        height: 78px;
        background: #000000;
        padding-top: 3px;

    }
    .kuang{
        width: 1250px;
        height: 52px;
        background: #0b0b0b;
        margin:0 auto;
        margin-top:11px;
    }
    .kuang ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .bofang{
        width: 50px;
        height: 40px;
        background: url("../img/bofang.jpg") no-repeat center;
        background-size: 40px 40px;
        margin-left: 20px;
        padding-top: 20px;
    }
    .shili{
        width: 1000px;
        height: 40px;
        padding-left: 30px;
    }
    .yinliang{
        width: 108px;
        height: 40px; 
        padding-top: 5px;
        margin-right: 20px;
    }
/*班级设置*/
    .banjishezhi{
        width: 100%;
        height: 945px;
        background: #292929;

    }
    .banjishezhiming{
        
        width: 90px;
        height: 75px;
        margin:0 auto;
        padding-top: 75px;
        text-decoration: none;
        
    }
    .shezhi{
        font-size: 17px;
        color: #ffffff;
        text-align: center;
    }
    .class_set{
        font-size: 11px;
        color: #bcbcbc;
        text-align: center;
    }
    .xia{
        width: 85px;
        height: 15px;
        border-bottom: 2px solid #6bbcce;
    }
    .peixun{
        width: 1300px;
        height: 450px;
        margin:0 auto;
        margin-top: 210px;
    }
    .peixun ul li a{
        text-decoration: none;
    }

    .tu1{
        width: 100%;
        height: 331px;
        background:url("../img/tu1.jpg") no-repeat center;
        background-size: 100% 321px;
    }
    .tu1:hover {
        border-bottom: 3px solid #292929;
    }
    .tu2{
        width: 100%;
        height: 321px;
        background:url("../img/tu2.jpg")no-repeat center;
        background-size: 100% 321px;
    }
    .tu2:hover {
        border-bottom: 3px solid #292929;
    }
    .tu3{
        width: 100%;
        height: 321px;
        background:url("../img/tu3.jpg")no-repeat center;
        background-size: 100% 321px;
    }
    .tu3:hover {
        border-bottom: 3px solid #292929;
    }
    .tuzi{
        font-size: 20px;
        color: #b7b7b7;
        padding-top: 20px;
    }
    .tuzi:hover {
        color: #d6d6d6;
    }
    .tuxiaozi{
        font-size: 15px;
        color: #7f7f7f;
        padding-top: 10px;
    }
    .tuxiaozi:hover {
        color: #b7b7b7;
    }
    .banjishezhi a{
        text-decoration: none;
    }
    .liaojiexiangqing{
        width: 145px;
        height: 40px;
        margin:0 auto;
        margin-top:50px;
        text-align: center;
        line-height: 40px;
        
        border:2px solid #d1d1d1;
        color: #d1d1d1;
        font-size: 14px;
    }
/*关于我们*/
    .guanyuwomen{
        width: 100%;
        height: 765px;
        background: #000000;
    }
    .guanyuwomen a{
        text-decoration: none;
    }
    .col-lg-6 p{
        
        height:765px;
        margin: 0 auto;
        background:url(../img/guanyuwomen.jpg) no-repeat center;
        background-size: 100% 765px;
        animation: huantucolor 15s linear 0s  infinite alternate;
    }
    @keyframes huantucolor{
        0%{
            background:url(../img/guanyuwomen.jpg) no-repeat center;
            background-size: 100% 765px;
        }
        50%{
            background:url(../img/guanyuwomen2.jpg) no-repeat center;
            background-size: 100% 765px;
        }
        100%{
            background:url(../img/guanyuwomen.jpg) no-repeat center;
            background-size: 100% 765px;
        }
    }
    .guanyuwomen1 {
        width: 90px;
        height: 85px;
        margin:0 auto;
        margin-top: 105px;
        border-bottom: 2px solid #6bbcce;
    }
    .guanyu{
        font-size: 17px;
        color: #ffffff;
        text-align: center;
    }
    .about{
        padding-top: 12px;
        font-size: 11px;
        color: #bcbcbc;
        text-align: center;
    }
    .wenzi1{
        width: 70%;
        height: 200px;
        margin:0 auto;
        margin-top: 105px;
    }
    .wenzi1 div{
        font-size: 15px;
        color: #999999;
    }
    .liaojiexiangqing1{
        width: 145px;
        height: 40px;
        margin:0 auto;
        margin-top:105px;
        text-align: center;
        line-height: 40px;
        
        border:1px solid #d1d1d1;
        color: #d1d1d1;
        font-size: 15px;
    }
/*师资团队*/
    .shizituandui{
        width: 100%;
        height: 945px;
        background: #292929;
        overflow:hidden;
    }
    /*.shizituandui :hover{
        
    }*/

    .shizituanduiming{
        
        width: 90px;
        height: 75px;
        margin:0 auto;
        padding-top: 75px;
        text-decoration: none;
        
    }
    .shezhi1{
        font-size: 17px;
        color: #ffffff;
        text-align: center;
    }
    .team{
        font-size: 11px;
        color: #bcbcbc;
        text-align: center;
    }
    .xia1{
        width: 85px;
        height: 15px;
        border-bottom: 2px solid #6bbcce;
    }
    .peixun1{
        width: 1300px;
        height: 450px;
        margin:0 auto;
        margin-top: 210px;
        animation: shizituandui 10s ease-in-out 0s infinite normal;
        bottom: -670px;
        position: relative;

    }

    @keyframes shizituandui{
    0%{
        opacity:0;
    }
    25%{
        opacity:0.25;
    }
    50%{
        opacity:0.5;
    }
    75%{
        opacity:0.75;
    }
    100%{
        opacity:1;
    }

    }
    .peixun1 ul li a{
        text-decoration: none;
    }
    .tu_1{
        width: 100%;
        height: 321px;
        background:url("../img/tu_1.jpg") no-repeat center;
        background-size: 100% 321px;
    }
    .tu_1:hover{
        border-bottom: 3px solid #292929;
    }
    .tu_2{
        width: 100%;
        height: 321px;
        background:url("../img/tu_2.jpg") no-repeat center;
        background-size: 100% 321px;
    }
    .tu_2:hover{
        border-bottom:3px solid #292929;
    }
    .tu_3{
        width: 100%;
        height: 321px;
        background:url("../img/tu_3.jpg") no-repeat center;
        background-size: 100% 321px;
    }
    .tu_3:hover{
        border-bottom:3px solid #292929;
    }
    .tuzi1{
        
        font-size: 20px;
        color: #b7b7b7;
        padding-top: 20px;
    }
    .tuxiaozi1{
        font-size: 15px;
        color: #7f7f7f;
        padding-top: 10px;
    }
    .tuzi1:hover,.tuxiaozi1:hover{
        color:#cecccc;
    }
    .banjishezhi1 a{
        text-decoration: none;
    }
    .liaojiexiangqing3{
        width: 145px;
        height: 40px;
        margin:0 auto;
        margin-top:50px;
        text-align: center;
        line-height: 40px;
        
        border:2px solid #d1d1d1;
        color: #d1d1d1;
        font-size: 14px;
    }
/*资讯动态*/
    .zixundongtai{
        width: 100%;
        height: 945px;
        background: #000000;

    }
    .zixundongtaiming{
        
        width: 90px;
        height: 75px;
        margin:0 auto;
        padding-top: 75px;
        text-decoration: none;
        
    }
    .zixun{
        font-size: 17px;
        color: #ffffff;
        text-align: center;
    }
    .news{
        font-size: 11px;
        color: #bcbcbc;
        text-align: center;
    }
    .xia2{
        width: 85px;
        height: 15px;
        border-bottom: 2px solid #6bbcce;
    }
    .peixun2{
        width: 1300px;
        height: 530px;
        margin:0 auto;
        margin-top: 210px;

    }
    .peixun2 ul li{
        height:150px;
        border: 1px solid #4f4f4f;
    }
    .col-lg-12{
        opacity :0.6;
    }
    .col-lg-12:hover{
        background: #292929;
        opacity :1;

    }
    .peixun2 ul li a{
        text-decoration: none;
    }
    .tu_11{
        font-size: 20px;
        color: #b7b7b7;
        padding-top: 20px;
    }
    .tu_21{
        font-size: 20px;
        color: #b7b7b7;
        padding-top: 20px;
    }
    .tu_31{
        font-size: 20px;
        color: #b7b7b7;
        padding-top: 20px;
    }
    .tuzi11{
        
        font-size: 20px;
        color: #b7b7b7;
    
    }
    .tuxiaozi1{
        font-size: 15px;
        color: #7f7f7f;
    }
    .banjishezhi1 a{
        text-decoration: none;
    }
    .liaojiexiangqing4{
        width: 145px;
        height: 40px;
        margin:0 auto;
        margin-top:px;
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        border:2px solid #d1d1d1;
        color: #d1d1d1;
        font-size: 14px;
    }
    .zixundongtai a{
        text-decoration: none;
    }
/*在线报名*/
    .zaixianbaoming{
        width: 100%;
        height: 545px;
        background: #292929;
    }
    .zaixianbaoming div{
        
    }
    .yinyue{
        text-align: center;
        margin-top: 200px;
        font-size: 20px;
        color:#4f4f4f;
    }
    .lianx{
        margin-top: 27px;
        font-size: 15px;
        color:#4f4f4f;
        font-weight: normal;
        margin-left: 33%;
    }
    .lianxi{
        margin-top: 10px;
        font-size: 15px;
        color:#4f4f4f;
        font-weight: normal;
        margin-left: 33%;
    }

    .zaixianbaoming1{
        width: 90px;
        height: 75px;
        margin-left: 25%;
        padding-top: 95px;
        text-decoration: none;
        
    }
    .zaixian{
        font-size: 17px;
        color: #ffffff;
        text-align: center;

    }
    .zaixianbaoming1 a{
        text-decoration: none;
    }
    .reg{
        font-size: 11px;
        color: #bcbcbc;
        text-align: center;
    }
    .xia3{
        width: 85px;
        height: 15px;
        border-bottom: 2px solid #6bbcce;
    }
    .wenbenkuang{
        width: 835px;
        height: 235px;
        margin-left: 10%;
        margin-top: 110px;
    }
    .wenbenkuang1{
        font-size: 15px;
        color: #4f4f4f;
    }
    .kecheng{
        margin-left: 1%;
    }
    .age{
        margin-left: 42%;
    }
    .wenbenkuang1 input{
        border:0.1px solid:#4f4f4f;
        background: #333333;
        height: 30px;
        width: 48%;
        margin-left: 1%;
    }
    .wenbenkuang2{
        font-size: 15px;
        color: #4f4f4f;
        margin-top: 10px;
    }
    .wenbenkuang2 input{
        border:0.1px solid:#4f4f4f;
        background: #333333;
        height: 30px;
        width: 48%;
        margin-left: 1%;
    }
    .wenbenkuang3{
        font-size: 15px;
        color: #4f4f4f;
        margin-top: 10px;
    }
    .wenbenkuang3 input{
        border:0.1px solid:#4f4f4f;
        background: #333333;
        height: 100px;
        width: 98%;
        margin-left: 1%;
    }
    .fasong{
        font-size: 13px;
        color: #f5f5f5;
        border:0px solid:#4f4f4f;
        background: #333333;
        height: 30px;
        width: 7%;
        margin-left: 1%;
        margin-top: 10px;
    }